.popular {
    background-color: white;
    padding-bottom: 30px;
}

.sidebar-header {
    font-size: 20px;
    color: rgb(53, 53, 53);
    display: inline-block;
}

.record-icon {
    color: rgb(53, 53, 53);
    display: inline-block;
    margin-right: 6px;
    padding-bottom: 4px;
}

hr {
    margin-bottom: 5px;
    margin-top: 0;
}